<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--扫描Scan表周期 单位:毫秒-->
    <add key="LoopTimeForScan" value="500"/>
    <!--是否记录日志-->
    <add key="SaveLog" value="1"/>
    <!--读取Scan表的数据存放目录-->
    <add key="ScanPath" value="ScanFiles"/>
    <!--Web Service结果目录-->
    <add key="WebServicePath" value="WebResultFiles"/>
    <!--TMP表名-->
    <add key="TableName" value="EHS_ENTRY_TMP"/>
    <!--Web Service服务地址-->
    <add key="ServerUrl" value="http://10.176.27.212:8089/LogisticsLibrary/GetData"/>
    <!--Scan表读取一条记录后间隔多长时间读取Oracle数据库（单位：毫秒）-->
    <add key="LoopTimeBeforeReadOracle" value="500"/>

    <!--是否启动扫描tmp表传输数据线程 1-启动 0-禁用-->
    <add key="OpenTMPThread" value="1"/>
    <!--扫描TMP表周期 单位:毫秒-->
    <add key="LoopTimeForTMP" value="2000"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnString" connectionString="Server=.;Database=HangZhou20190911;Uid=sa;Pwd=sasa;Max Pool Size=500" providerName="System.Data.SqlClient"/>
    <add name="OracleConnString" connectionString="Data Source=zzcyxt;Persist Security Info=false;User ID=fzj;Password=fzjAAA111aaa;Unicode=True" providerName="System.Data.OracleClient"/>
  </connectionStrings>

</configuration>