<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--监视文件夹循环周期 单位:毫秒-->
    <add key="LoopTime1" value="500"/>
    <!--读取表循环周期 单位:毫秒-->
    <add key="LoopTime2" value="2000"/>
    <!--读取类型 1-读取xlsm文件 2-读取xml文件-->
    <add key="ReadType" value="1"/>
    <!--是否记录日志-->
    <add key="SaveLog" value="1"/>

    <!--扫描文件夹-->
    <add key="ScanPath" value="‪D:\Study2\杭州系统\ReceFile"/>
    <!--是否记录接口返回的数据-->
    <add key="SaveResData" value="1"/>
    <add key="TableName" value="EHS_ENTRY_TMP"/>
    <!--设备编码-->
    <add key="APPNO" value="99291601"/>

    <!--//////////数据发送设置//////////-->
    <!--Send文件夹-->
    <add key="SendPath" value="D:\Study2\杭州系统\Send"/>
    <!--查询的tmp表字段-->
    <add key="SelectColumn" value="VOYAGE_NO,BILL_NO,MX_TIME,DEC_TYPE,M_RESULT"/>
    <!--产生xml文件head中的MessageID-->
    <add key="MessageID" value="aaaaaa"/>
    <!--产生xml文件head中的MessageType-->
    <add key="MessageType" value="102"/>
    <!--产生xml文件head中的Sender-->
    <add key="Sender" value="SMS"/>
    <!--产生xml文件head中的Version-->
    <add key="Version" value="1.0"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnString" connectionString="Server=.;Database=IM_Manifest_DB;Uid=sa;Pwd=sasa;Max Pool Size=500" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>