<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--//////////扫描文件夹设置//////////-->
    <!--监视文件夹循环周期 单位:毫秒-->
    <add key="LoopTimeForScan" value="10000"/>
    <!--读取类型 1-读取xlsm文件 2-读取xml文件-->
    <add key="ReadType" value="1"/>
    <!--是否记录日志-->
    <add key="SaveLog" value="1"/>
    <!--扫描文件夹(只能创建在程序目录中)-->
    <add key="ScanPath" value="ScanFiles"/>

    <!--//////////数据发送设置//////////-->
    <!--查询的tmp表名称-->
    <add key="TableName" value="EHS_ENTRY_TMP"/>
    <!--Send文件夹(只能创建在程序目录中)-->
    <add key="SendPath" value="SendFiles"/>
    <!--Send备份文件夹(只能创建在程序目录中)-->
    <add key="SendPathBak" value="SendFilesBak"/>
    <!--读取表循环周期 单位:毫秒-->
    <add key="LoopTimeForRead" value="10000"/>
    <!--产生xml文件head中的MessageID-->
    <add key="MessageID" value="aaaaaa"/>
    <!--产生xml文件head中的MessageType-->
    <add key="MessageType" value="102"/>
    <!--产生xml文件head中的Sender-->
    <add key="Sender" value="SMS"/>
    <!--产生xml文件head中的Version-->
    <add key="Version" value="1.0"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnString" connectionString="Server=.;Database=HangZhou20190911;Uid=sa;Pwd=sasa;Max Pool Size=500" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>