<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <log4net>
    <!--定义输出到文件中-->
    <appender name="dataAccessLogFile" type="log4net.Appender.RollingFileAppender,log4net" >
      <file value="./Logs/" />
      <appendToFile value="true" />

      <rollingStyle value="Date" />
      <datePattern value="yyyy/yyyy-MM-dd'.log'" />
      <MaxSizeRollBackups value="100" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="-------------------------%n%n %-5p %d %5rms %-22.22c{1} %-18.18M %m%n%n------------------------%n%n"/>
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <!--定义日志的输出媒介，下面定义日志以四种方式输出。也可以下面的按照一种类型或其他类型输出。-->
    <root>
      <appender-ref ref="dataAccessLogFile" />
      <level value="ALL" />
    </root>
  </log4net>
</configuration>